@import '../../variables';
@import '~include-media/dist/include-media';

.title {
  margin-bottom: $post-title-bottom-margin;
}

.publishDate {
  font-style: italic;
  font-weight: bold;
}

:global {
  :not(pre) > code[class*="language-"] {
    padding: .3em !important;
    font-size: .85em !important;
    text-shadow: none !important;
    background: #eaeaea !important;
    color: black;
  }

  .gatsby-highlight {
    margin: 2em 0;
    font-size: .8em;

    @include media(">=phone", "<tablet") {
      font-size: .6em;
    }

    pre {
      &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #b6b6b6;
        border-radius: 10px;
        margin: 1px;
      }
    }
  }
}
