.socialIcons {
  font-size: 1.7em;

  a {
    margin: 0 0.5em;
    transition: color .1s linear;
    color: black;

    &:hover {
      cursor: pointer;
    }

    &:visited {
      color: inherit;
    }

    &:active {
      color: inherit;
    }
  }

  .facebook {
    &:hover {
      color: #3b5998;
    }
  }

  .twitter {
    &:hover {
      color: #00aced;
    }
  }

  .github {
    &:hover {
      color: #4e4e4e;
    }
  }

  .linkedin {
    &:hover {
      color: #007bb6;
    }
  }

  .stackoverflow {
    &:hover {
      color: #ff9900;
    }
  }

  .instagram {
    &:hover {
      color: #dc2743
    }
  }
}