@import '~normalize.css';
@import '../variables.scss';
@import '~include-media/dist/include-media';

body {
  background: $background-colour;
  font-family: 'Scope One', serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;

  .headshotContainer {
    margin-top: 4em;

    @include media(">=phone", "<tablet") {
      margin-top: 2em;
      font-size: 0.75em;
    }
  }

  .socialIconsContainer {
    margin-top: 2em;
  }

  .navMenuContainer {
    margin-top: 2em;
  }

  .contentContainer {
    margin-top: 2em;
    width: 70vw;
    max-width: 800px;

    @include media(">=phone", "<tablet") {
      width: 85vw;
      font-size: 0.8em;
    }
  }
}

article {
  font-size: $post-font-size;

  &:not(:first-of-type) {
    margin: 4rem 0;
  }
}

h1 {
  font-size: $post-title-font-size;

  @include media(">=phone", "<tablet") {
    font-size: $post-title-font-size * 0.8;
  }
}

p {
  line-height: $post-line-height;

  a, a:visited {
    $link-colour: #1f4d97;
    color: $link-colour;

    &:hover {
      color: lighten($link-colour, 25);
    }
  }
}
